body{
    font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', 'serif';
    font-size: x-large;
    background-color: black;
    color: whitesmoke;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: darkslategray; */
}

a:visited{
    color:blue;
}

a:link{
    color: blue;
}

#titleText{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#contactList {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    list-style: none;
    
}

.contactListItem{
    display: inline-block;
    margin-bottom: 1em;
}
.contactText{
    display: inline-block;
    width: 10em;
    text-align: left;
    
}

.contactLink{
    display: inline-block;
    width: 10em;
    text-align: right;
}